@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&family=JetBrains+Mono:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Amiri", "Playfair Display", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  /* ألوان BTC الرسمية والراقية */
  --color-gold: #C8A155;
  --color-gold-dark: #A68546;
  --color-luxury-black: #000000;     /* أسود خالص حاد للإطارات والنصوص */
  --color-off-white: #FFFFFF;        /* خلفية بيضاء ناصعة تماماً */
}

@layer base {
  html {
    direction: rtl;
    font-family: var(--font-sans);
    background-color: #FFFFFF;
    color: #000000;
  }
}